#export-step.tab-pane
  %h4 
    Save &amp; Export to GitHub

  %p
    Save the document to GitHub and ask for it to be reviewed.
  %p
    If the document already exists, it will be updated.

  %button#btn-export.btn.btn-primary 
    %i.fa.fa-github
    Save to GitHub
