#text-step.tab-pane
  .row
    .col-xs-6
      = partial 'editor', engine: :haml, locals: {id: 'source-doc-text'}

    .col-xs-6
      %ul.nav.nav-tabs
        %li.active
          %a(href="#text-html-tab" data-toggle="tab") HTML
        %li
          %a(href="#text-toc-tab" data-toggle="tab") Table of Contents
      .tab-content
        #text-html-tab.tab-pane.active
          #source-doc-html.an-container
        #text-toc-tab.tab-pane
          #source-doc-toc.toc

  .step-buttons
    .row
      .col-xs-6
        .buttons.pull-right
          %button#parse-btn.btn.btn-default.with-spinner
            %i.fa.fa-spinner.fa-spin
            Check text
      .col-xs-3
        .render-label
          %i.fa.fa-spinner.fa-spin
          Rendering...
      .col-xs-3
        .buttons.pull-right
          %button.btn.btn-primary.next-step Looks good, next step
