!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %title
      - if content_for? :title
        = content_for :title
      - else
        Steno

    %link{rel: 'stylesheet', href: stylesheet_path('bootstrap.css')}/
    %link{rel: 'stylesheet', href: stylesheet_path('app.css')}/
    %link{rel: 'stylesheet', href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"}
  %body
    %header#header
      .navbar.navbar-default.navbar-static-top
        .navbar-header
          %a.navbar-brand(href='/')
            Steno for Openbylaws.org.za

        %ul.nav.navbar-nav.navbar-right
          %li.github-login
            .btn-group.navbar-btn
              %button.btn.btn-default
                %i.fa.fa-github
                Sign in with Github

          %li.github-user
            .btn-group.navbar-btn
              %button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
                %span.username username
                %span.caret
              %ul.dropdown-menu
                %li
                  %a.user-repo(href="#" target="_blank")
                    %i.fa.fa-github
                    %span.repo repo
                %li
                  %a.github-logout(href="#") Sign out

          %li
            %a(href="https://github.com/longhotsummer/steno" target="_blank")
              %i.fa.fa-github.fa-lg
              Steno on Github
          %li
            %a(href="https://github.com/longhotsummer/za-by-laws" target="_blank")
              %i.fa.fa-github.fa-lg
              ZA By-laws on Github

    #wrapper
      = yield

      = javascript_tag 'jquery-1.10.2.min.js'
      = javascript_tag 'app.js'
