@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome.min";
@import "act.scss";
@import "toc.scss";

body {
  margin-top: 50px;
}

#wrapper {
  padding: 10px;
}

.step-buttons {
  margin-top: 10px;
}

#source-doc-text, #source-doc-html, #source-doc-toc,
#doc-xml, #xml-doc-html, #xml-doc-toc {
  width: 100%;
  height: 550px;
}

#source-doc-html, #source-doc-toc,
#xml-doc-html, #xml-doc-toc {
  overflow: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

.tab-content {
  margin-top: 10px;
}

#section-title-formats {
  label {
    display: block;
    height: auto;
    @include box-shadow(0px 0px 0px);
  }

  input[type=radio] { float: left }
  .format { margin-left: 25px }
  .text { font-weight: normal }
}

.with-spinner {
  i.fa-spinner { margin-right: 10px; display: none }

  &.spin {
    i.fa-spinner { display: inline-block }
  }
}

.editor {
  .editor-controls {
    background-color: #ebebeb;
    border-radius: 5px 5px 0px 0px;
    padding: 9px 5px 8px;
    height: 51px;
  }
}

#export-step .panel {
  width: 420px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
